extend _template

block vars
  - title = 'リゾートライン｜東京ディズニーシー'
  - description = 'ブラックコーデでディズニー・ハロウィーン！今年の東京ディズニーシーのハロウィーンは、クールにブラックコーデで揃えて、仲間との最高の思い出をつくってみませんか？'
  - keywords = '東京ディズニーリゾート,東京ディズニーランド,東京ディズニーシー,TDS,ディズニー,ランド,シー,disney,land,sea,ディズニーハロウィーン,ディズニーハロウィン,ハロウィーン,ディズニーコーデ,ブラックコーデディズニー,ブラックコーデ'
  - img = 'https://www.tokyodisneyresort.jp/fantasy/halloween2019/blackcoordinate/images/og.jpg'
  - url = 'https://www.tokyodisneyresort.jp/fantasy/halloween2019/blackcoordinate/index.html'
  - og_site_name = '東京ディズニーリゾート'
  - og_title = 'ブラックコーデディズニー！みんなでブラックコーデをしてディズニー・ハロウィーンを楽しみませんか？'
  - og_description = '今年のディズニーハロウィーンはブラックに染まる!?東京ディズニーシーのハロウィーンを、仲間と一緒にブラックコーデで楽しもう！'

block main

  | #{"\n"}
  .wrap
    //{* ヘッダーインクルード *}
    //#include virtual="/ssi/header_event_ps_inc.html"
    //- include /ssi/header_event_ps_inc.pug

    //{* /ヘッダーインクルード *}
    | #{"\n"}
    .contents-inner.breadcrumb_area.pc
      //{* ここにパンくずを入れてください PC *}
      .breadcrumb
        ul.inner
          li
            span.text-buttons.text-buttons-s
              a(href='/top.html') TOP
          li.current
            span リゾートライン
      //{* /ここにパンくずを入れてください PC *}

    | #{"\n"}
    //{* コンテンツエリア *}
    article#content-area

      .sec-inner

        // KV
        .sec-block
          .sec-kv.clearfix(data-module='KvFade')
            .sec-kv__content
              //- .sec-kv__content__inner
                //- h2.sec-kv__logo
                //-   |DISNEY RESORT LINE
                //- .sec-kv__title
                //- .sec-kv__lead

                //- .sec-kv__scroll
                //-   span SCROLL

                //- p.sec-kv__title(data-module='fade2')
                //-   |物語は、ここから始まる。
                //- p.sec-kv__lead(data-module='fade2')
                //-   |ミッキーマウスの窓から
                //-   br
                //-   |パークの景色が見えると、
                //-   br
                //-   |これから始まる1日の予感に
                //-   br
                //-   |ドキドキワクワク胸が踊る。
                //- p.sec-kv__lead
                //-   |その瞬間はまるで
                //-   br
                //-   |物語のオープニングのように特別で
                //-   br
                //-   |忘れられない思い出になる。
                //- p.sec-kv__lead
                //-   |ここで過ごす時間はいつも
                //-   br
                //-   |新しくて驚きがいっぱい。
                //-   br
                //-   |それは、ディズニーリゾートラインが、
                //-   br
                //-   |いまも進化を続けているから。
                //- p.sec-kv__lead
                //-   |さあ、夢の1日をまた
                //-   br
                //-   |ここから始めてみませんか？
                //- p.sec-kv__lead
                //-   |あなただけの物語が
                //-   br
                //-   |きっと待っているから。


        .sec-block
          .sec-info
            ul.sec-info__brn(data-module='ScrollFade' data-options='{"type":"fade_up"}')
              li
                a(href='https://www.tokyodisneyresort.jp/tdr/resortline.html' targeg='_brank')
                  |リゾートラインについて
              li
                a(href='#')
                  |ニュースリリース

            ul.sec-info__sns(data-module='ScrollFade' data-options='{"type":"fade_up"}')
              li
                a.tw(href='http://twitter.com/share?count=horizontal&original_referer=https://www.tokyodisneyresort.jp/fantasy/resortline/index.html&text=%e4%bb%8a%e5%b9%b4%e3%81%ae%e3%83%87%e3%82%a3%e3%82%ba%e3%83%8b%e3%83%bc%e3%83%8f%e3%83%ad%e3%82%a6%e3%82%a3%e3%83%bc%e3%83%b3%e3%81%af%e3%83%96%e3%83%a9%e3%83%83%e3%82%af%e3%81%ab%e6%9f%93%e3%81%be%e3%82%8b%21%3f%e6%9d%b1%e4%ba%ac%e3%83%87%e3%82%a3%e3%82%ba%e3%83%8b%e3%83%bc%e3%82%b7%e3%83%bc%e3%81%ae%e3%83%8f%e3%83%ad%e3%82%a6%e3%82%a3%e3%83%bc%e3%83%b3%e3%82%92%e3%80%81%e4%bb%b2%e9%96%93%e3%81%a8%e4%b8%80%e7%b7%92%e3%81%ab%e3%83%96%e3%83%a9%e3%83%83%e3%82%af%e3%82%b3%e3%83%bc%e3%83%87%e3%81%a7%e6%a5%bd%e3%81%97%e3%82%82%e3%81%86%ef%bc%81&url=https://www.tokyodisneyresort.jp/fantasy/resortline/index.html', onclick="window.open(this.href,'tweetwindow','width=550,height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1');return false;", onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'リンククリック', action: 'blackcoorde_tw', label: ''}});")
              li
                a.fb(href='http://www.facebook.com/share.php?u=https://www.tokyodisneyresort.jp/fantasy/resortline/index.html', onclick="window.open(this.href,'facebookwindow','width=550,height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1');return false;", onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'リンククリック', action: 'blackcoorde_fb', label: ''}});")
              li
                a.line(href='https://social-plugins.line.me/lineit/share?url=https%3a%2f%2fwww%2etokyodisneyresort%2ejp%2ffantasy%2fresortline%2findex%2ehtml', onclick="window.open(this.href,'linewindow','width=550,height=450,personalbar=0,toolbar=0,scrollbars=1,resizable=1');return false;", onmousedown="dataLayer.push({event: 'trackClick', clickParams: {category: 'リンククリック', action: 'blackcoorde_ln', label: ''}});")

            .sec-info__desc(data-module='ScrollFade' data-options='{"type":"fade_up"}')
              p 【ご利用にあたって】
              ul
                li ・ソーシャルメディアサイトは、13才以上の方がご利用になれます。
                li ・左記、リンク先のページは、東京ディズニーリゾートのオフィシャルウェブサイト外のページです。
                li ・各ウェブサイトのご利用条件、個人情報保護方針等をご確認ください。他のお客様等のご迷惑となる掲載は固くお断りいたします。

      //- #page-top(data-module='ScrollTop')
      //-   a(href='#content-area')

    //{* /コンテンツエリア *}

    | #{"\n"}
    //{* フッターインクルード *}
    //#include virtual="/ssi/footer_event_ps_inc.html"
    //- include /ssi/footer_event_ps_inc.pug
    //{* /フッターインクルード *}
  // /.wrap

  | #{"\n"}
  //{* 計測用ADPLAN タグ *}
  //#include virtual="/ssi/adplan_inc.html"
  //- include /ssi/adplan_inc.pug
  //{* /計測用ADPLAN タグ *}
  | #{"\n"}



